@tailwind base;
@tailwind components;
@tailwind utilities;
@import './assets/styles/variables.scss';

* {
      @apply box-border m-0 p-0;
}
body {
      @apply overflow-x-hidden font-light text-lg relative;
      background-color: $lightyellow;
      color: $primary; 

      &::after {
            @apply w-full h-full opacity-75 -z-50 top-0 left-0 right-0 bottom-0 fixed bg-cover bg-no-repeat bg-center;
            display: block;
            content: "";
            background-image: url('/src/assets/back.png');
            
      }
}

::selection {
      background-color: $red;
      color: $lightyellow;
}
::-webkit-scrollbar {
      background-color: $lightyellow;
      width: 10px;
}
::-webkit-scrollbar-thumb {
      background-color: $red;
      border-radius: 2px;
}